USE [master]
GO
/****** Object:  Database [ExaminationManagement]    Script Date: 12/29/2019 10:33:44 AM ******/
CREATE DATABASE [ExaminationManagement]
 CONTAINMENT = NONE

ALTER DATABASE [ExaminationManagement] SET COMPATIBILITY_LEVEL = 100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExaminationManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExaminationManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] NOT NULL,
	[Username] [char](100) NOT NULL,
	[Password] [text] NOT NULL,
	[Permission] [int] NOT NULL,
	[RegistryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountDetails]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetails](
	[UserID] [int] IDENTITY(12340001,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [char](10) NULL,
	[Email] [char](100) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Address] [nvarchar](250) NULL,
	[ClassID] [nchar](10) NOT NULL,
	[GradeID] [int] NOT NULL,
	[AccountType] [int] NOT NULL,
	[temp] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamineeList]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamineeList](
	[ExamineeListID] [int] IDENTITY(1,1) NOT NULL,
	[ExamineeListName] [char](20) NOT NULL,
 CONSTRAINT [PK_Examinee] PRIMARY KEY CLUSTERED 
(
	[ExamineeListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamineeListDetails]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamineeListDetails](
	[ExamineeListID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ExamineeDetails] PRIMARY KEY CLUSTERED 
(
	[ExamineeListID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TestID] [char](10) NOT NULL,
	[TotalScore] [int] NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultDetails]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultDetails](
	[QuestionID] [int] NOT NULL,
	[ResultID] [int] NOT NULL,
	[Answer] [char](20) NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_ResultDetails] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDetails]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetails](
	[TestID] [char](10) NOT NULL,
	[QuestionID] [int] NOT NULL,
 CONSTRAINT [PK_TestDetails] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestList]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestList](
	[TestListID] [char](10) NOT NULL,
	[TestID] [char](10) NOT NULL,
 CONSTRAINT [PK_TestList] PRIMARY KEY CLUSTERED 
(
	[TestListID] ASC,
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheExamination]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheExamination](
	[ExaminationID] [int] IDENTITY(1,1) NOT NULL,
	[TestListID] [char](10) NOT NULL,
	[ExamineeListID] [int] NULL,
	[ExaminationName] [nvarchar](10) NOT NULL,
	[ExaminationType] [int] NOT NULL,
	[GradeID] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[Creator] [char](30) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_Examination] PRIMARY KEY CLUSTERED 
(
	[ExaminationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TestListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheQuestion]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheQuestion](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionLevel] [int] NOT NULL,
	[QuestionType] [int] NOT NULL,
	[QuestionContent] [nvarchar](255) NOT NULL,
	[ChoiceA] [nvarchar](255) NOT NULL,
	[ChoiceB] [nvarchar](255) NOT NULL,
	[ChoiceC] [nvarchar](255) NOT NULL,
	[ChoiceD] [nvarchar](255) NOT NULL,
	[ChoiceE] [nvarchar](255) NOT NULL,
	[ChoiceF] [nvarchar](255) NOT NULL,
	[Answer] [char](20) NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheTest]    Script Date: 12/29/2019 10:33:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheTest](
	[TestID] [char](10) NOT NULL,
	[TestName] [char](20) NOT NULL,
 CONSTRAINT [PK_TheTest] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [RegistryDate]
GO
ALTER TABLE [dbo].[TheExamination] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountDetails] FOREIGN KEY([UserID])
REFERENCES [dbo].[AccountDetails] ([UserID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountDetails]
GO
ALTER TABLE [dbo].[ExamineeListDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExamineeListDetails_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[ExamineeListDetails] CHECK CONSTRAINT [FK_ExamineeListDetails_Account]
GO
ALTER TABLE [dbo].[ExamineeListDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExamineeListDetails_ExamineeList] FOREIGN KEY([ExamineeListID])
REFERENCES [dbo].[ExamineeList] ([ExamineeListID])
GO
ALTER TABLE [dbo].[ExamineeListDetails] CHECK CONSTRAINT [FK_ExamineeListDetails_ExamineeList]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Account]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_TheTest] FOREIGN KEY([TestID])
REFERENCES [dbo].[TheTest] ([TestID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_TheTest]
GO
ALTER TABLE [dbo].[ResultDetails]  WITH CHECK ADD  CONSTRAINT [FK_ResultDetails_Result] FOREIGN KEY([ResultID])
REFERENCES [dbo].[Result] ([ResultID])
GO
ALTER TABLE [dbo].[ResultDetails] CHECK CONSTRAINT [FK_ResultDetails_Result]
GO
ALTER TABLE [dbo].[ResultDetails]  WITH CHECK ADD  CONSTRAINT [FK_ResultDetails_TheQuestion] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[TheQuestion] ([QuestionID])
GO
ALTER TABLE [dbo].[ResultDetails] CHECK CONSTRAINT [FK_ResultDetails_TheQuestion]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_TestDetails_TheQuestion1] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[TheQuestion] ([QuestionID])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_TestDetails_TheQuestion1]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_TestDetails_TheTest] FOREIGN KEY([TestID])
REFERENCES [dbo].[TheTest] ([TestID])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_TestDetails_TheTest]
GO
ALTER TABLE [dbo].[TestList]  WITH CHECK ADD  CONSTRAINT [FK_TestList_TheExamination] FOREIGN KEY([TestListID])
REFERENCES [dbo].[TheExamination] ([TestListID])
GO
ALTER TABLE [dbo].[TestList] CHECK CONSTRAINT [FK_TestList_TheExamination]
GO
ALTER TABLE [dbo].[TestList]  WITH CHECK ADD  CONSTRAINT [FK_TestList_TheTest] FOREIGN KEY([TestID])
REFERENCES [dbo].[TheTest] ([TestID])
GO
ALTER TABLE [dbo].[TestList] CHECK CONSTRAINT [FK_TestList_TheTest]
GO
ALTER TABLE [dbo].[TheExamination]  WITH CHECK ADD  CONSTRAINT [FK_TheExamination_ExamineeList] FOREIGN KEY([ExamineeListID])
REFERENCES [dbo].[ExamineeList] ([ExamineeListID])
GO
ALTER TABLE [dbo].[TheExamination] CHECK CONSTRAINT [FK_TheExamination_ExamineeList]
GO
USE [master]
GO


-- Trigger Add Account When import AccountDetails (Trigger tự động thêm vào bảng Account khi import hoặc add AccountDetails - Chi tiết: đọc file query_...)
USE [ExaminationManagement]
GO
CREATE
--
--ALTER
--
TRIGGER AutoAddAcountID
ON [AccountDetails]
AFTER INSERT
AS
BEGIN
	IF NOT EXISTS (
		SELECT ac.UserID
		FROM inserted i, AccountDetails ad, Account ac
		WHERE i.UserID = ac.UserID)
		BEGIN
			INSERT INTO Account (UserID, Username, Password, Permission)
				SELECT ad.UserID, ad.Email, ad.temp, ad.AccountType
				FROM inserted i, AccountDetails ad
				WHERE i.UserID = ad.UserID

			UPDATE AccountDetails
			SET temp = NULL
			WHERE temp IS NOT NULL
		END
END
GO

--
-- Tạo tài khoản admin
insert into AccountDetails (Name, Email, DOB, ClassID, GradeID, AccountType, temp)
values ('admin', 'admin', GETDATE(), 'admin', 0, 0,'D033E22AE348AEB5660FC2140AEC35850C4DA997') -- Password: admin
--